name: trading-application

services:
  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    env_file:
      - ./api-gateway/.env
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    container_name: api-gateway
    ports:
      - "8081:8081"

  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    env_file:
      - ./user-service/.env
    container_name: user-service
    ports:
      - "8082:8082"
    depends_on:
      - api-gateway

  price-service:
    build:
      context: ./price-service
      dockerfile: Dockerfile
    container_name: price-service
    ports:
      - "8083:8083"
    depends_on:
      - api-gateway



