spring:
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: user-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/user/**, /api/auth/**
            - id: price-service
              uri: http://localhost:8083
              predicates:
                - Path=/api/prices/**