server:
  port: 8081

token:
  secret: ${JWT_SECRET}

spring:
  application:
    name: api-gateway
  profiles:
    active: dev
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/api/user/**, /api/auth/**
            - id: price-service
              uri: lb://price-service
              predicates:
                - Path=/api/prices/**

eureka:
  client:
    service-url:
      defaultZone: ${DISCOVERY_SERVER:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true
