server:
  port: 8081

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${PG_URI:jdbc:postgresql://shinkansen.proxy.rlwy.net:53137/railway}
    username: ${PG_USERNAME:postgres}
    password: ${PG_PASSWORD:sojVNPtmZWSgNrOzUkYNvZhzTRqpAlwE}
  jpa:
    database: postgresql
    show-sql: true
    hibernate:
      ddl-auto: create
